<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acjl.foodmenu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.acjl.foodmenu.StickyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StickyNote">

        <activity
            android:name="com.acjl.foodmenu.view.SplashActivity"
            android:exported="true"
            android:theme="@style/StickyNote.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.acjl.foodmenu.view.ReadNoteActivity"
            android:exported="false" />

        <activity
            android:name="com.acjl.foodmenu.view.NewNoteActivity"
            android:exported="false" />

        <activity
            android:name="com.acjl.foodmenu.view.MainActivity"
            android:exported="true"/>

        <receiver android:name="com.acjl.foodmenu.receiver.StickyNoteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sticky_note_app_widget_info" />
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>